@font-face {
    font-family: "Melon Pop";
    src: url("./Melon Pop.woff2") format("woff2");
}

:root {
    --container-background: #604e3a;
    --button-color: #bca283;
    --bar-shadow: 0 5px 20px #000000dc;
    --basic-border: 1px solid;
}

html {
    font-family: "Melon Pop";
    background-image: url(./backgroundImg.jpg);
    background-size: 100vw 100vh;
}

body {
    margin: 0;
}

p, h1, h2 {
    margin: 0;
    text-wrap: pretty;
}

p, h1 {
    margin: 2rem 0;
    align-self: center;
}

nav button, #content {
    border: var(--basic-border);
}

nav, #content {
    background-color: var(--container-background);
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav button {
    background-color: var(--button-color);
    height: 3rem;
    width: 12rem;
    border-radius: 0.5rem;
    margin: 0.4rem 0;
    font-size: 1rem;
}

#content {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    
    min-height: 75vh;
    
    gap: 1rem;
    margin: 3rem 30vw;
    padding: 1rem 5vw;
    white-space: pre;
    border-radius: 0.5rem;
}

.shadow {
    box-shadow: var(--bar-shadow);
}

button {
    font-family: "Melon Pop";
}