:root {
    --container-background: #604e3a;
    --button-color: #bca283;
    --bar-shadow: 0 5px 10px #00000080;
    --basic-border: 1px solid;
}

html {
    background-image: url(./backgroundImg.jpg);
    background-size: 100vw 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}

nav, #content {
    background-color: var(--container-background);
}

nav button, #content {
    background: var(--basic-border);
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav button {
    height: 3rem;
    width: 8rem;
    border-radius: 0.5rem;
    background-color: var(--button-color);
    margin: 0.2rem 0;
    font-size: 1rem;
}

.shadow {
    box-shadow: var(--bar-shadow);
}